FauFau/[Bb]in/
FauFau/[Oo]bj/
packages/
.vs/
*.suo
*.user
*.sln.docstates
*.sdf
*.opensdf
.idea/
*.sln.iml
AeroMessages/.idea/.idea.AeroMessages/.idea/encodings.xml
AeroMessages/.idea/.idea.AeroMessages/.idea/indexLayout.xml
AeroMessages/.idea/.idea.AeroMessages/.idea/vcs.xml
